@if (media) {
<ion-content [fullscreen]="true" class="detail-content">
  <div class="detail-container">
    <div class="top-bar">
      <div class="left-group">
        <button class="back-btn" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </button>
        <h1>Détails</h1>
      </div>

      <button class="home-btn" (click)="goToDashboard()">
        <ion-icon name="home-outline"></ion-icon>
      </button>
    </div>

    <div class="main-info">
      <img class="poster" [src]="media.poster || 'assets/mock/placeholder.jpg'" [alt]="media.title">

      <div class="main-text">
        <h2>{{ media.title }}</h2>
        <p class="year">{{ media.year }}</p>

        <div class="section-label">Statut de visionnage</div>

        <div class="status-row">
          <button class="status-item" [class.active]="media.status === 'en-cours'" (click)="setStatus('en-cours')">
            En cours
          </button>

          <button class="status-item" [class.active]="media.status === 'non-vu'" (click)="setStatus('non-vu')">
            Non Vu
          </button>

          <button class="status-item" [class.active]="media.status === 'vu'" (click)="setStatus('vu')">
            Vu
          </button>
        </div>

        @if (isSeries()) {
        <div class="season-select">
          <div class="select-wrapper">
            <ion-select
              interface="popover"
              [(ngModel)]="selectedSeason"
              (ionChange)="onSeasonChange()"
            >
              @for (season of seasonOptions; track season) {
                <ion-select-option [value]="season">
                  {{ season }}
                </ion-select-option>
              }
            </ion-select>
            <ion-icon name="chevron-down" class="custom-arrow"></ion-icon>
          </div>
        </div>
        }

        <div class="progress-box">
          <button class="progress-btn" (click)="decreaseProgress()">
            <ion-icon name="remove-outline"></ion-icon>
          </button>

          @if (isFilm()) {
            <div class="progress-center">
              <span class="progress-label">Minute</span>

              <input
                class="progress-input"
                type="number"
                inputmode="numeric"
                min="0"
                [max]="media.totalMinutes || 0"
                [ngModel]="media.watchedMinutes || 0"
                (ngModelChange)="onDirectProgressChange($event)"
              />

              <span class="progress-total">/ {{ media.totalMinutes || 0 }}</span>
            </div>
          }

          @if (isSeries()) {
            <div class="progress-center">
              <span class="progress-label">Épisode</span>

              <input
                class="progress-input"
                type="number"
                inputmode="numeric"
                min="0"
                [max]="media.totalEpisodes || 0"
                [ngModel]="media.watchedEpisodes || 0"
                (ngModelChange)="onDirectProgressChange($event)"
              />

              <span class="progress-total">/ {{ media.totalEpisodes || 0 }}</span>
            </div>
          }
          <button class="progress-btn" (click)="increaseProgress()">
            <ion-icon name="add-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="info-section">
      <h3>Informations</h3>
      <div class="info-line">
        <span class="info-title">Durée</span>
        <span class="info-value">{{ getDurationText() }}</span>
      </div>

      <div class="info-line">
        <span class="info-title">Type</span>
        <span class="info-value">{{ isFilm() ? 'Film' : 'Série' }}</span>
      </div>

      <div class="info-line">
        <span class="info-title">Créateur</span>
        <span class="info-value">{{ getCreatorText() }}</span>
      </div>

      <div class="info-line">
        <span class="info-title">Acteurs</span>
        <span class="info-value">{{ getActorsText() }}</span>
      </div>

      <div class="info-line">
        <span class="info-title">Genres</span>
        <span class="info-value">{{ getGenresText() }}</span>
      </div>
    </div>

    <div class="synopsis-section">
      <h3>Synopsis</h3>
      <p>{{ getSynopsisText() }}</p>
    </div>
  </div>
</ion-content>
}
