:root {
  --ion-color-primary: #7A5BD0;
  --ion-color-primary-rgb: 122, 91, 208;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #6b50b7;
  --ion-color-primary-tint: #876bda;
}